<h1>Deezer Test</h1>

<input #q placeholder="Search music..." />
<button (click)="search(q.value)">Search</button>

@if (loading()) {
  <p>Loading...</p>
}

<hr />

<h2>Artists</h2>

@if (artistResults().length === 0) {
  <p>No artists yet</p>
}

@for (artist of artistResults(); track artist.id) {
  <div>
    {{ artist.name }}
  </div>
}

<h2>Tracks</h2>

@if (trackResults().length === 0) {
  <p>No tracks yet</p>
}

@for (track of trackResults(); track track.id) {
  <div>
    {{ track.title }}
  </div>
}
